@import '../../../../../../styles/variables';

.danger-zone-section {
  margin: 1rem;
  margin-left: 2rem;

  .section-heading {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(lighten($primary, 30%), 0.5);
    margin-bottom: 1rem;
    color: $primary;

  }
}
