@import '../../../../styles/variables';

// Nav pills tab style
.settings-menu {

  .s-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 1rem;

    @media(max-width: 1310px) {
      display: flex;
      padding-bottom: 1rem;


      .nav-pills {
        display: flex;
        flex-direction: row;

        .nav-link {
          width: auto !important;
          &.active {
            border-right: none !important;
            border-bottom: 2px solid $primary;
          }

          &:hover {
            border-right: none !important;
            border-bottom: 2px solid $primary;
          }
        }
      }

    }
  }

  .menu-list {
    width: 100%;
      .nav-pills {
        .nav-link {
          margin-top: 10px;
          svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          color: black;
          border-radius: 0;
          font-size: 18px;
          width: 100%;
          &.active {
            background: none;
            border-right: 2px solid $primary-dark;
            color: $primary;
            svg {
              fill: $primary;
              stroke: $primary;
            }
          }
          &:hover {
            background: none;
            border-right: 2px solid $primary-dark;
            text-decoration: none;
          }
        }

        .nav-link-red {
          color: $red;
          svg {
            stroke: $red;
            fill: $red;
          }
          &.active {
            background: none;
            border-right: 2px solid darken($red, 10%);
            color: $red;
            svg {
              fill: $red;
              stroke: $red;
            }
          }
          &:hover {
            background: none;
            border-right: 2px solid darken($red, 10%);
            text-decoration: none;
          }
        }
      }
  }



  .tab-content-container {
    width: 100%;
  }


}
