<div class="columns">
    <div class="column is-one-fifth">
        <app-account-page-menu></app-account-page-menu>
    </div>

    <div class="column">
        <div class="tabs is-left">
            <ul>
                <li (click)="changeTab(accountSettingsTabs.General)"
                    [class.is-active]="selectedTab === accountSettingsTabs.General"><a>General</a></li>
                <li (click)="changeTab(accountSettingsTabs.Financial)"
                    [class.is-active]="selectedTab === accountSettingsTabs.Financial"><a>Financial</a></li>
            </ul>
        </div>

        <div *ngIf="selectedTab === accountSettingsTabs.General" class="general-settings">
            General Settings works
        </div>


        <div *ngIf="selectedTab === accountSettingsTabs.Financial" class="financial-settings">
            <div class="field">
                <label class="label">Monthly Budget</label>
                <div class="control has-icons-left has-icons-right">
                    <input *ngIf="account" [(ngModel)]="account.budget.budget" class="input" type="number" step="0.01" min="0.01" placeholder="Monthly Budget">
                    <span class="icon is-left">
                        <i class="fas fa-pound-sign"></i>
                    </span>
                </div>
            </div>
                <button (click)="saveBudget()" class="button is-success">Save</button>
        </div>
    </div>
</div>