<aside class="menu">

    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a routerLinkActive="is-active" [routerLink]="['/account', accountId, 'overview']">
            <i class="fas fa-chart-line has-margin-right-10"></i> Dashboard
        </a></li>
    </ul>

    <p class="menu-label">
        Transactions
    </p>
    <ul class="menu-list">
        <li><a routerLinkActive="is-active" [routerLink]="['/account', accountId, 'transactions']">
            <i class="fas fa-money-check has-margin-right-10"></i> Transactions
        </a></li>
        <li><a routerLinkActive="is-active" [routerLink]="['/account', accountId, 'recurring-transactions']">
            <i class="fas fa-redo has-margin-right-10"></i> Recurring Transactions
        </a></li>
    </ul>

    <p class="menu-label">
        Reporting
    </p>
    <ul class="menu-list">
        <li><a routerLinkActive="is-active" [routerLink]="['/account', accountId, 'reports']">
            <i class="fas fa-file-alt has-margin-right-10"></i> Reports
        </a></li>
    </ul>

    <p class="menu-label">
        Management
    </p>

    <ul class="menu-list">
        <li><a routerLinkActive="is-active" [routerLink]="['/account', accountId, 'categories']">
            <i class="fas fa-list has-margin-right-10"></i> Categories
        </a></li>
        <li><a  routerLinkActive="is-active" [routerLink]="['/account', accountId, 'settings']">
            <i class="fas fa-cog has-margin-right-10"></i> Settings
        </a></li>
    </ul>
</aside>