@import '../../../../../../styles/variables';

.error {
  border-bottom: 1px solid $red !important;
}

.edit-transaction-panel-container {
  background-color: white;
  padding: 2rem;
  width: 350px;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000000;
  -webkit-box-shadow: -6px 0px 19px -4px rgba(0, 0, 0, 0.1);
  box-shadow: -6px 0px 19px -4px rgba(0, 0, 0, 0.1);

  animation: fadeInRight;
  animation-duration: .25s;

  .single-transaction-loader {
    display: flex;
    justify-content: center;
  }

  .top-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    .cancel-button {
      cursor: pointer;
      font-size: 20px;
    }
  }

}

.edit-transaction-container {
  .top-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidebox-title {
      font-size: 20px;
      color: $card-title-color;
    }
  }

  .edit-transaction-form {
    input {
      border: none;
      border-bottom: 1px solid $primary;
      border-radius: 0;
    }
  }


  .balance-group-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .balance-group {
      padding-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        display: flex;
        color: $primary;
        border: none;
        font-size: 55px;
        text-align: center;

        &:focus{
          outline: none;
        }

        &::placeholder {
          color: rgba($primary, 0.3);
        }

      }

      .currency-symbol {
        font-size: 55px;
        color: $primary;
        justify-content: center;
        align-items: flex-end;
        display: flex;
        // width: 100%;

      }

      .input-container {
        display: inherit;
        align-items: center;
      }
    }
  }

  .categories-selection {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;

      li {
        display: inline-flex;
        justify-content: space-between;
        // margin-right: 1rem;
        background-color: white;
        color: $primary;
        border: 1px solid $primary;
        padding: .5rem .1rem .3rem 1rem;
        border-radius: 50px;
        margin-top: .5rem;
        width: 100%;
        cursor: pointer;
        align-items: center;


        svg {
          fill: white;
          stroke: white;
          width: 20px;
          height: 20px;
          padding-right: 10px;
        }


        &.active {
          background-color: $primary;
          color: white;
        }
        &:hover {
          background-color: $primary;
          color: white;
        }
      }
  }
}
