@import '../../../../styles/variables';

.accounts-list-page {
  padding: 2rem;

  &.no-accounts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }




  .accounts-list-box {
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 4rem;

    .no-accounts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .no-account-icon {
        svg {
          width: 100px;
          height: 100px;
        }
      }

      .no-account-description {
        font-size: 18px;
        margin-top: 1rem;
        width: 80%;
        color:rgba(0, 0, 0, 0.80);
      }

      .account-add-btn {
        margin-top: 1rem;
      }

    }



    .box-topbar {
      display: flex;
      justify-content: space-between;


      @media (max-width: $md) {
        flex-direction: column;
        align-items: center;
      }
      .title {
        h1 {
          font-weight: 600;
          font-size: 24px;
          color: $card-title-color;
        }
      }


    }


    .page-loader {
      display: flex;
      justify-content: center;
    }

    .accounts-table {
      width: 100%;
      margin-top: 2rem;

      thead {
        tr {
          th {
            font-weight: 400;
            padding-bottom: .5rem;
            border-bottom: 1px solid rgba(black, 0.1);
          }
        }
      }

      tbody {
        tr {
          &:hover {
            cursor: pointer;
            background-color: rgba(black, 0.02);
          }
          td {
            padding: 1rem 0 1rem 0;
            border-bottom: 1px solid rgba(black, 0.1);
            .account-icon {
              img {
                width: 30px;
                height: 30px;

                @media(max-width: $md) {
                  width: 25px;
                  height: 25px;
                }

                margin-right: 1rem;
              }

              padding-left: .5rem;
            }
            .account-text {
              padding-top: .3rem;
            }
            font-size: 22px;

            @media(max-width: $md) {
              font-size: 18px;
            }
          }
          .account-balance {
            padding-top: 1rem;
          }
        }
      }
    }
  }
}

.account-add-btn {
  a {
    border: 2px solid $primary;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .7rem;
    border-radius: 50px;
    padding-right: 2rem;
    padding-left: 1rem;

    @media(max-width: $md) {
      padding-right: 1rem;
      padding-left: 1rem;
      padding-top: .5rem;
      padding-bottom: .3rem;
    }
    font-size: 16px;
    font-weight: 500;
    color:white;

    svg {
      width: 17px;
      height: 17px;
      fill: white;
      margin-right: 1rem;
      margin-bottom: .4rem;
    }

    &:hover {
      background-color: rgba($primary, $alpha: 0.85);
      transition: background-color .25s;
    }
  }
}
