<div class="your-balance-card">
  <div class="your-balance-card-data" *ngIf="!(isLoading | async) && (account | async)">
    <div class="total-balance">
      <p class="text-center">Total Balance</p>
      <h1>{{(account | async).availableBalance | currency: (accountPreferences | async).currency: (accountPreferences | async).currencyData.symbolNative}}</h1>
      <ng-container *ngIf="(accountPreferences | async).currency != (userPreferences | async).currency">
        <div class="d-flex converted-total-balance justify-content-center text-center">
          ({{(account | async).convertedBalance | currency: (userPreferences | async).currency: (userPreferences | async).currencyData.symbolNative}})
        </div>
      </ng-container>

    </div>
  </div>


  <div *ngIf="!(isLoading | async) && (account | async)" class="income-expenses">
    <div class="income">
      <p>Income</p>
      <h2>{{(account | async).totalIncome | currency: (accountPreferences | async).currency: (accountPreferences | async).currencyData.symbolNative}}</h2>
      <ng-container *ngIf="(accountPreferences | async).currency != (userPreferences | async).currency">
        <div class="d-flex converted-breakdown-balance justify-content-center text-center">
          ({{(account | async).convertedTotalIncome | currency: (userPreferences | async).currency: (userPreferences | async).currencyData.symbolNative}})
        </div>
      </ng-container>

    </div>

    <div class="expense">
      <p>Expenses</p>
      <h2>{{(account | async).totalOutgoings * -1 | currency: (accountPreferences | async).currency: (accountPreferences | async).currencyData.symbolNative}}</h2>
      <ng-container *ngIf="(accountPreferences | async).currency != (userPreferences | async).currency">
        <div class="d-flex converted-breakdown-balance justify-content-center text-center">
          ({{(account | async).convertedTotalExpense | currency: (userPreferences | async).currency: (userPreferences | async).currencyData.symbolNative}})
        </div>
      </ng-container>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center" *ngIf="(isLoading | async)">
    <app-default-loader [width]="50" [height]="50"></app-default-loader>
  </div>

</div>
