@import '../../../../../../styles/variables';
$card-color: #14213d;


.your-balance-card {
  margin-bottom: 1rem;
  background-color: $card-color;
  border-radius: 20px;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }

  .income-expenses {
    padding: 1rem 1rem 1rem .5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h2 {
      font-size: 20px;
    }
  }
}
