@import '../../../../../../styles/variables';
  p {
    text-align: center;
    color: $title-color;
    font-size: 25px;
    font-weight: 600;
  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
  }

