.hero {
    background: linear-gradient(90deg, rgba(13,71,161,1) 0%, rgba(28,102,214,1) 33%, rgba(0,82,210,1) 100%);
}

.column {
    background-color: white;
    padding: 3rem;
}

.notification {
    border-radius: 0%;
    text-align: center;
}