@import '../../../../../../styles/variables';

.transaction-table {
  width: 100%;

  thead {
    tr {
      th {
        color: $card-title-color;
        font-weight: 400;
        font-size: 16px;
        padding: 1rem;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 1rem;
        font-size: 22px;
      }

      &:hover {
        background-color: rgba(#000000, $alpha: 0.05);
        cursor: pointer;

        .more-icon {
          stroke:rgba(#000000, $alpha: 0.5);
          fill:rgba(#000000, $alpha: 0.5);
        }
      }

      .merchant-details {
        .merchant-logo {
          svg {
            width: 40px;
            height: 40px;
          }

          margin-right: 1rem;
        }
      }
    }

    .more-icon {
      width: 20px;
      height: 20px;
      stroke:rgba(#000000, $alpha: 0.0);
      fill:rgba(#000000, $alpha: 0.0);
    }
  }
}
