<div class="home-page">
  <div class="page-bar">
    <h1 class="page-title">Overview</h1>
    <div class="date-box">
      <span>
        {{timeFrame}}

      </span>
    </div>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-xl-3 mt-2">
        <app-figure-box [change]="dashboardData?.income?.percentageChange" [figure]="dashboardData?.income?.value" title="Income" [isLoading]="isDashboardDataLoading">
        </app-figure-box>
      </div>

      <div class="col-xl-3 mt-2">
        <app-figure-box [change]="dashboardData?.expenses?.percentageChange" [figure]="dashboardData?.expenses?.value * -1" title="Expenses" [isLoading]="isDashboardDataLoading">
        </app-figure-box>

      </div>

      <div class="col-xl-3 mt-2">
        <app-figure-box [change]="dashboardData?.savings?.percentageChange" [figure]="dashboardData?.savings?.value" title="Savings" [isLoading]="isDashboardDataLoading">
        </app-figure-box>

      </div>

      <div class="col-xl-3 mt-2">
        <app-figure-box [change]="dashboardData?.investments?.percentageChange" [figure]="dashboardData?.investments?.value" title="Investments" [isLoading]="isDashboardDataLoading">
        </app-figure-box>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="networth-chart-container">
          <div class="topbar-container">
            <h1>Total Balance</h1>
            <div class="timeselection-btns">
              <ul>
                <li (click)="selectChart('1W')" [class.active]="selectedTimeframe === '1W'">1W</li>
                <li (click)="selectChart('1Y')" [class.active]="selectedTimeframe === '1Y'">1Y</li>
                <li (click)="selectChart('5Y')" [class.active]="selectedTimeframe === '5Y'">5Y</li>
                <li (click)="selectChart('ALL')" [class.active]="selectedTimeframe === 'ALL'">ALL</li>
              </ul>
            </div>
          </div>
          <div *ngIf="isChartLoading" class="loader d-flex justify-content-center align-items-center">
            <app-default-loader></app-default-loader>
          </div>
          <div *ngIf="!isChartLoading && chartData[0].series.length > 0" class="networth-chart">

            <ngx-charts-line-chart [scheme]="colorScheme" [legend]="false" [xAxis]="true" [yAxis]="true"
              [timeline]="true" [results]="chartData" [showGridLines]="false" (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
          </div>

          <div style="height: 100%; font-size: 22px;" class="d-flex justify-content-center"
           *ngIf="!isChartLoading && chartData[0].series.length === 0">
            <p class="pt-3">No transactional data is found on this account</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
