@import '../../../styles/variables';

$sidenav-text: rgb(230, 230, 230);

.logo {
  #filler-box {
    fill: $primary-dark;
  }

  #logo-text {
    fill: $sidenav-text;
  }

  #logo-square {
    stroke: $sidenav-text;
  }
}


.side-nav {
  position: fixed;
  min-height: 100vh !important;
  width: 237px;
  z-index: 1000;

  @media(max-width: $md) {
    width: 75px;
  }

  background-color: $primary-dark;
  -webkit-box-shadow: 6px 3px 12px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 6px 3px 12px -4px rgba(0, 0, 0, 0.05);
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .brand {
    display: flex;
    align-items: center;
    padding: .8rem;

    @media(max-width: $md) {
      padding: .8rem 0 .8rem 0;
    }


    .brand-title {
      color: $sidenav-text;
      font-weight: 400;
      font-size: 18px;

      @media (max-width: $md) {
        display: none;
      }
    }

    .icon {
      svg {
        @media(max-width: $md) {
          width: 45px;
          height: 45px;
        }
      }

    }
  }

  .networth-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $md) {
      display: none;
    }

    color: $sidenav-text;

    .networth-text {
      font-size: 28px;
      font-weight: 400;
    }

    .networth-description {
      font-weight: 400;
    }
  }

  .menu-items {
    margin-top: 2rem;

    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;

      .custom-menu-item {
        cursor: pointer;
        padding: .5rem;
        width: 100%;
        padding: 1rem 0 1rem 0;
        display: inline-block;

        @media (max-width: $md) {
          display: flex;
          justify-content: center;

        }

        svg {
          fill: $sidenav-text;
          stroke: $sidenav-text;
          height: 20px;
          width: 20px;
          margin-right: 1rem;
          margin-left: 1rem;
        }


        &:hover {
          background-color: rgba(darken($sidenav-text, 20%), 0.1);
          border-right: 4px solid $sidenav-text;
          color: $sidenav-text;

          svg {
            fill: $sidenav-text;
            stroke: $sidenav-text;
          }
        }

        &.active {
          background-color: rgba(darken($sidenav-text, 20%), 0.1);
          border-right: 4px solid $sidenav-text;
          color: $sidenav-text;

          svg {
            fill: $sidenav-text;
            stroke: $sidenav-text;
          }
        }

        font-weight: 400;
        font-size: 16px;

        color: $sidenav-text;

        &:hover {
          text-decoration: none !important;
        }

        .menuitem-icon {
          height: 20px;
          width: 20px;
          margin-right: 1rem;
          margin-left: 1rem;
        }

        .menu-text {
          @media(max-width: $md) {
            display: none;
          }
        }
      }
    }
  }
}
