<div class="app">
  <div *ngIf="isLoggedIn" class="logged-in-view">
    <app-menu></app-menu>
    <div class="columns">
      <div class="column is-one-quarter left-sidebar has-margin-top-5 has-margin-left-5">
        <app-left-sidebar></app-left-sidebar>
      </div>
  
      <div class="column main-content has-margin-top-5 has-margin-right-5">
        <div class="box">
          <router-outlet></router-outlet>
        </div>
      </div>
  
    </div>
  </div>
  
  <div *ngIf="!isLoggedIn" class="login-page-container">
    <app-login-page></app-login-page>
  </div>

</div>