<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
            <h4 class="title is-4">Budgeting Engine</h4>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a [routerLink]="['/']" class="navbar-item">
                <i class="fas fa-home has-margin-right-5"></i> Home
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Account
                </a>

                <div class="navbar-dropdown">
                    <a (click)="logout()" class="navbar-item">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>