<div class="login-page">
  <div class="nav-section">
    <div class="logo">
      <a href="/login">
        <svg width="74" height="73" viewBox="0 0 74 73" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="logo-text" d="M25.9044 44H20.8244V19.44H37.1844V23.92H25.9044V30.16H36.3444V34.6H25.9044V44ZM45.6234 26.12V44H40.6634V26.12H45.6234ZM46.0634 20.96C46.0634 21.7867 45.7701 22.4667 45.1834 23C44.6234 23.5333 43.9434 23.8 43.1434 23.8C42.3168 23.8 41.6101 23.5333 41.0234 23C40.4634 22.4667 40.1834 21.7867 40.1834 20.96C40.1834 20.16 40.4768 19.4933 41.0634 18.96C41.6501 18.4 42.3434 18.12 43.1434 18.12C43.9434 18.12 44.6234 18.4 45.1834 18.96C45.7701 19.4933 46.0634 20.16 46.0634 20.96Z" fill="#145DA0"/>
          <rect id="logo-square" x="1.5" y="1.5" width="62.2941" height="61.623" stroke="#2E8BC0" stroke-width="3"/>
          <rect id="filler-box" x="49" y="46" width="25" height="27"/>
          </svg>

      </a>

    </div>

  </div>

  <div class="login-content">
    <h1 class="login-title">Login</h1>
    <p class="login-description">Welcome back! Login to access your financr account</p>

    <div class="login-box">

      <div *ngIf="isFailed" class="alert alert-danger">{{this.errorMessage}}</div>

      <div (keyup.enter)="login()" class="login-form">
        <div class="form-group">
          <input [(ngModel)]="loginForm.email" class="form-control" type="text" placeholder="Email Address" name="" id="">
        </div>
        <div class="form-group">
          <input [(ngModel)]="loginForm.password" class="form-control" type="password" placeholder="Password" name="" id="">
        </div>
        <button (click)="login()" [disabled]="isLoading" class="btn btn-login" >
          <ng-container *ngIf="isLoading">
            <ng-lottie width="50px" height="50px" containerClass="loader-icon"
            [options]="{path: '/assets/animations/lottie/loaders/333-loader-4.json'}"></ng-lottie>
          </ng-container>

          <ng-container *ngIf="!isLoading">
            <span>Login</span>
          </ng-container>

           </button>
      </div>
    </div>
  </div>

  <div class="right-circle-design">
    <svg width="193" height="399" viewBox="0 0 193 399" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle id="right-circle-1" cx="217" cy="154" r="154" fill="#5BDCF9"/>
      <circle id="right-circle-2" cx="55" cy="154" r="55" fill="#00A1D5" fill-opacity="0.5"/>
      <circle id="right-circle-3" cx="85" cy="369" r="30" fill="#4C88FB"/>
      </svg>

  </div>

  <div class="page-wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path id="wave" fill="#2E8BC0" fill-opacity="1"
        d="M0,128L60,133.3C120,139,240,149,360,170.7C480,192,600,224,720,229.3C840,235,960,213,1080,202.7C1200,192,1320,192,1380,192L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
      </path>
    </svg>

  </div>
</div>
