<nav class="panel">
    <p class="panel-heading">
        Financial Breakdown
    </p>
    <div class="panel-block">
        <table class="table is-fullwidth">
            <tr>
                <td> <strong>Opening Balance</strong> </td>
                <td [class.has-text-success]="openingBalance > 0" [class.has-text-danger]="openingBalance < 0" class="has-text-right">{{openingBalance | currency: 'GBP'}}</td>
            </tr>


            <tr class="title-shot">
                <td> <strong>Income</strong> </td>
            </tr>
            <tr *ngFor="let transaction of incomeCategoryTransactions">
                <td class="sub-data" *ngIf="transaction.amount > 0">{{transaction.categoryName}}</td>
                <td class="has-text-right has-text-success" *ngIf="transaction.amount > 0">
                    {{transaction.amount | currency: 'GBP'}}</td>
            </tr>


            <tr>
                <td> <strong>Expenses</strong> </td>
            </tr>

            <tr *ngFor="let transaction of expenseCategoryTransactions">
                <td class="sub-data" *ngIf="transaction.amount < 0">{{transaction.categoryName}}</td>
                <td class="has-text-right has-text-danger" *ngIf="transaction.amount < 0">
                    {{transaction.amount | currency: 'GBP'}}</td>
            </tr>


            <tr>
                <td class="has-text-left"> <strong>Closing Balance</strong> </td>
                <td [class.has-text-success]="closingBalance > 0" [class.has-text-danger]="closingBalance < 0"
                    class="has-text-right total"> {{closingBalance | currency: 'GBP'}} </td>
            </tr>
        </table>
    </div>
</nav>