/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');
html, body {
    background: linear-gradient(90deg, rgba(13,71,161,1) 0%, rgba(28,102,214,1) 33%, rgba(0,82,210,1) 100%);
    font-family: 'Roboto';
}

.modal-card {
  animation-duration: 0.6s !important;
}
