/* You can add global styles to this file, and also import other style files */
@import 'app/styles/fonts';
@import 'app/styles/variables';

body, html {
  font-family: 'Calibre';
  background-color: $background;
}


.red {
  color: $red;
  .f-icon {
    stroke: $red;
  }
}

.green {
  color: $green;
  .f-icon {
    stroke: $green;
  }
}
