/* You can add global styles to this file, and also import other style files */
@import 'app/styles/fonts';
@import 'app/styles/variables';
@import 'pikaday/css/pikaday.css';
@import '~ngx-toastr/toastr';

body, html {
  font-family: 'Calibre';
  background-color: $background;
}


.red {
  color: $red;
  .f-icon {
    stroke: $red;
  }
}

.green {
  color: $green;
  .f-icon {
    stroke: $green;
  }
}


.btn-primary-button {
    border: 2px solid $primary;
    background-color: $primary;
    padding-top: .7rem;
    border-radius: 50px;
    padding-right: 1rem;
    padding-left: 1rem;

    @media(max-width: $md) {
      padding-right: 1rem;
      padding-left: 1rem;
      padding-top: .5rem;
      padding-bottom: .3rem;
    }
    font-size: 16px;
    font-weight: 500;
    color:white;

    svg {
      width: 17px;
      height: 17px;
      margin-right: 1rem;
      margin-bottom: .4rem;
    }

    &:hover {
      background-color: rgba($primary, $alpha: 0.85);
      transition: background-color .25s;
      color: white;
      svg {
        stroke: white;
      }
    }
}



.btn-secondary-button {
    border: 2px solid $primary;
    background-color: white;
    padding-top: .7rem;
    border-radius: 50px;
    padding-right: 1rem;
    padding-left: 1rem;

    @media(max-width: $md) {
      padding-right: 1rem;
      padding-left: 1rem;
      padding-top: .5rem;
      padding-bottom: .3rem;
    }
    font-size: 16px;
    font-weight: 500;
    color:$primary;

    svg {
      width: 17px;
      height: 17px;
      margin-right: 1rem;
      margin-bottom: .4rem;
      stroke: $primary;
      fill: $primary;
    }

    &:hover {
      background-color: rgba($primary, $alpha: 0.85);
      transition: background-color .25s;
      color: white;
      svg {
        stroke: white;
        fill: white;
      }
    }

}

.btn-danger-button {
  border: 2px solid $red;
  background-color: $red;
  padding-top: .7rem;
  border-radius: 50px;
  padding-right: 1rem;
  padding-left: 1rem;

  @media(max-width: $md) {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .3rem;
  }
  font-size: 16px;
  font-weight: 500;
  color:white;

  svg {
    width: 17px;
    height: 17px;
    margin-right: 1rem;
    margin-bottom: .4rem;
  }

  &:hover {
    background-color: rgba($red, $alpha: 0.85);
    transition: background-color .25s;
    color: white;
    svg {
      stroke: white;
    }
  }
}




// Pie chart styles
.pie-chart-amount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  height: 300px;
  width: 300px;
  margin-top: -.5rem;
}

.pie-chart-spent-since {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 18px;
  height: 300px;
  width: 300px;
  margin-top: .9rem;

}

.ngx-charts {
  position: relative;
  z-index: 100000;
}

.pika-single {
  z-index: 1000000000000000000;
}


.is-invalid {
  border-bottom: 1px solid $red !important;
}
