<div *ngIf="singleTransactionBoxOpen || addTransactionBoxOpen" class="overlay-black"></div>
<app-account-details-container>
  <div class="transactions-page-container">

    <div class="main-content">

      <app-transactions-table (openEdit)="openEditTransactionPanel($event)" (selection)="openSingleTransactionBox($event)" [accountId]="accountId"></app-transactions-table>
    </div>

    <div class="right-sidebar">
      <button class="btn btn-secondary-button mb-5" (click)="openAddTransactionBox()">
        <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
        </svg>

        New Transaction
      </button>

      <div class="spending-chart">
        <app-balance-display [accountId]="accountId"></app-balance-display>

        <app-spending-chart [accountId]="accountId"></app-spending-chart>
      </div>
    </div>
  </div>

</app-account-details-container>

<app-view-transaction-panel
[isOpen]="singleTransactionBoxOpen"
[transactionId]="currentSelectedTransactionId"
[accountId]="accountId"
(close)="closeSingleTransactionBox()"></app-view-transaction-panel>

<app-add-transaction-panel
[isEdit]="isEditing"
[transactionId]="currentSelectedTransactionId"
[accountId]="accountId"
(close)="closeEditTransactionPanel()"
[isOpen]="addTransactionBoxOpen"></app-add-transaction-panel>
