<div *ngIf="singleTransactionBoxOpen" class="overlay-black"></div>
<app-account-details-container>
  <div class="transactions-page-container">

    <div class="main-content">
      <div class="table-search">
        <input class="form-control mb-3" placeholder="Search Transactions" type="text">
      </div>

      <div *ngIf="transactionsLoading" class="transactions-loader">
        <ng-lottie width="100px" height="100px" containerClass="loader-icon"
        [options]="{path: '/assets/animations/lottie/loaders/298-coins-outline-edited.json'}"></ng-lottie>
      </div>

      <table *ngIf="!transactionsLoading" class="transaction-table">
        <thead>
          <tr>
            <th>Merchant</th>
            <th>Amount</th>
          </tr>
        </thead>

        <tbody>
          <tr (click)="openSingleTransactionBox(transaction.id)" *ngFor="let transaction of transactions">
            <td class="merchant-details">
              <span class="merchant-logo">
                <img src="/assets/icons/default-transaction.svg" alt="">
              </span>
              <span class="merchant-name">{{transaction.description}}</span>
            </td>
            <td>{{transaction.amount | currency: 'GBP'}}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="right-sidebar">

      <div class="spending-chart">
        <div class="your-balance">
          <p>Your Balance</p>
          <h1>£249.99</h1>
        </div>
        <ngx-charts-pie-chart
        [view]="[300, 300]"
        [legend]="false"
        [results]="data"
        [doughnut]="true"
        [arcWidth]="0.15"
        >
          </ngx-charts-pie-chart>
      </div>
    </div>
  </div>

</app-account-details-container>

<div *ngIf="singleTransactionBoxOpen" class="single-transaction-detail-container ">
  <div class="top-button">
    <div (click)="closeSingleTransactionBox()" class="cancel-button">X</div>
  </div>

  <hr>

  <div *ngIf="isSingleTransactionLoading" class="single-transaction-loader">
    <ng-lottie width="150px" height="150px" containerClass="loader-icon"
    [options]="{path: '/assets/animations/lottie/loaders/945-dividends-outline-edited.json'}"></ng-lottie>
  </div>
  <div *ngIf="!isSingleTransactionLoading  && transactionData" class="transaction-details">
    {{transaction | json}}
    <div class="basic-data">
      <div class="merchant-icon">
        <img src="/assets/icons/default-transaction.svg" alt="">
      </div>
      <div class="transaction-amount">

        {{transactionData.amount | currency: 'GBP'}}
      </div>
    </div>
    <div class="detailed-transaction-data">
      <div class="transaction-description">
        {{transactionData.description}}
      </div>
      <div class="transaction-date">
        {{transactionData.transactionDate | date: 'short'}}
      </div>

      <div class="transaction-category">
        <div class="badge badge-primary">{{transactionData.accountCategory.name}}</div>
      </div>
    </div>
  </div>
</div>

