<div *ngIf="singleTransactionBoxOpen || addTransactionBoxOpen" class="overlay-black"></div>
<app-account-details-container>
  <div class="transactions-page-container">

    <div class="main-content">
      <div class="text-right mb-2">

      </div>

      <div class="table-search">
        <input class="form-control mb-3" placeholder="Search Transactions" type="text">
      </div>

      <div *ngIf="isLoading" class="transactions-loader">
        <ng-lottie width="100px" height="100px" containerClass="loader-icon"
          [options]="{path: '/assets/animations/lottie/loaders/298-coins-outline-edited.json'}"></ng-lottie>
      </div>

      <table *ngIf="!isLoading" class="transaction-table">
        <thead>
          <tr>
            <th>Merchant</th>
            <th>Amount</th>
          </tr>
        </thead>

        <tbody>
          <tr (click)="openSingleTransactionBox(transaction.id)" *ngFor="let transaction of transactions">
            <td class="merchant-details">
              <span class="merchant-logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 80" x="0px" y="0px">
                  <g>
                      <path
                          d="M18.13,34.542a1.5,1.5,0,0,1-2.121,2.121L7.126,27.779a1.51,1.51,0,0,1-.328-.492l-.007-.023a1.484,1.484,0,0,1-.106-.547h0a1.489,1.489,0,0,1,.106-.548l.007-.022a1.5,1.5,0,0,1,.328-.493l8.883-8.883a1.5,1.5,0,0,1,2.121,2.121l-6.324,6.325H35.815a1.5,1.5,0,0,1,0,3H11.806Zm39.185,2.741h0a1.484,1.484,0,0,0-.106-.547l-.007-.023a1.51,1.51,0,0,0-.328-.492l-8.883-8.884a1.5,1.5,0,1,0-2.121,2.121l6.324,6.325H28.185a1.5,1.5,0,0,0,0,3H52.194L45.87,45.108a1.5,1.5,0,1,0,2.121,2.121l8.883-8.883a1.5,1.5,0,0,0,.328-.493l.007-.022A1.489,1.489,0,0,0,57.315,37.283Z" />
                  </g>
              </svg>
              </span>
              <span class="merchant-name">{{transaction.description}}</span>
            </td>
            <td>{{transaction.amount | currency: 'GBP'}}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="right-sidebar">
      <button class="btn btn-secondary-button mb-5" (click)="openAddTransactionBox()">
        <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
        </svg>

        New Transaction
      </button>

      <div class="spending-chart">
        <div class="your-balance">
          <p>Your Balance</p>
          <h1 *ngIf="!isLoading && account">{{account.availableBalance | currency: 'GBP'}}</h1>
          <div style="display: flex; justify-content: center" *ngIf="isLoading">
            <ng-lottie width="75px" height="75px" containerClass="loader-icon"
              [options]="{path: '/assets/animations/lottie/loaders/331-loader-2-edited-black.json'}"></ng-lottie>
          </div>

        </div>
        <ngx-charts-pie-chart [view]="[300, 300]" [legend]="false" [results]="data" [doughnut]="true" [arcWidth]="0.15">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>

</app-account-details-container>

<app-view-transaction-panel
[isOpen]="singleTransactionBoxOpen"
[transactionId]="currentSelectedTransactionId"
[accountId]="accountId"
(close)="closeSingleTransactionBox()"></app-view-transaction-panel>



<app-add-transaction-panel
[accountId]="accountId"
(close)="closeAddTransactionBox()"
[isOpen]="addTransactionBoxOpen"></app-add-transaction-panel>
