<div class="home-page">
  <div class="page-bar">
      <h1 class="page-title">Overview</h1>
      <div class="date-box">
        24 Mar - 24 Apr
      </div>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-md-4">
        <app-figure-box [change]="-22" [figure]="1200" title="Income" descriptionColor="red" [isLoading]="false"></app-figure-box>
      </div>

      <div class="col-md-4">
        <app-figure-box [change]="22" [figure]="323" title="Expenses" descriptionColor="green" [isLoading]="false"></app-figure-box>

      </div>

      <div class="col-md-4">
        <app-figure-box [change]="0" [figure]="1200" title="Income" descriptionColor="red" [isLoading]="false"></app-figure-box>

      </div>
    </div>
  </div>
</div>
