@import '../../../styles/variables';

.side-nav {
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: white;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  .brand {
    display: flex;
    align-items: center;
    padding: .8rem;


    .brand-title {
      color: $primary;
      font-weight: 500;
      font-size: 24px;
    }
  }

  .networth-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .networth-text {
      font-size: 35px;
      font-weight: 600;
    }

    .networth-description {
      font-weight: 500;
    }
  }

  .menu-items {
    margin-top: 2rem;
    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;


      li {
        padding: .5rem;
        width: 100%;
        padding: 1rem 0 1rem 0;


        &:hover {
          background-color: rgba($primary, 0.15);
          border-right: 2px solid $primary;

          a {
            color: $primary;
          }
        }

        &.active {
          a{
            color: $primary !important;
          }
          color: $primary;
          background-color: rgba($primary, 0.15);
          border-right: 2px solid $primary;
        }

        a {
          font-weight: 500;
          font-size: 20px;

          color: black;

          &:hover {
            text-decoration: none !important;
          }

          .menuitem-icon {
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

.page-content {
  margin-left: 20%;
  width: 80%;
}
