<div class="category-management-content">
  <div class="row pt-3">
    <div class="col-md-6">
      <div class="shadow-sm">
        <h2 class="category-heading">Income</h2>
        <ul class="category-list">
          <ng-container *ngIf="!isLoading">
            <ng-container *ngFor="let category of categories;">
              <div *ngIf="category.type === 0" class="category-list-item">
                <li>
                  {{category.name}}
                </li>

                <span class="options-menu">
                  <div id="dropdownMenuLink" data-toggle="dropdown">
                    <svg class="more-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve">
                    <g>
                      <g>
                        <circle cx="192" cy="42.667" r="42.667" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <circle cx="192" cy="192" r="42.667" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <circle cx="192" cy="341.333" r="42.667" />
                      </g>
                    </g>
                  </svg>
                  </div>


                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <button class="dropdown-item" data-toggle="modal" (click)="selectEditCategory(category.id)" data-target="#editCategoryModal">Edit</button>
                  <button class="dropdown-item">
                      <ng-container>Delete</ng-container>

                  </button>
                </div>
                </span>
              </div>



            </ng-container>
          </ng-container>
          <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
            <app-default-loader></app-default-loader>
          </div>



        </ul>
      </div>

      <div class="text-right">
        <button (click)="addSelectedCategoryType = 0" data-toggle="modal" data-target="#addCategoryModal"
          class="btn btn-secondary-button">
          <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
            </svg>

          Income Category</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="shadow-sm">
        <h2 class="category-heading">Expense</h2>
        <ul class="category-list">
          <ng-container *ngIf="!isLoading">
            <ng-container *ngFor="let category of categories;">
              <div *ngIf="category.type === 1" class="category-list-item">
                <li>
                  {{category.name}}
                </li>
                <span class="options-menu">
                  <div id="dropdownMenuLink" data-toggle="dropdown">
                    <svg class="more-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve">
                    <g>
                      <g>
                        <circle cx="192" cy="42.667" r="42.667" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <circle cx="192" cy="192" r="42.667" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <circle cx="192" cy="341.333" r="42.667" />
                      </g>
                    </g>
                  </svg>
                  </div>


                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <button class="dropdown-item" data-toggle="modal" (click)="selectEditCategory(category.id)" data-target="#editCategoryModal">Edit</button>
                  <button class="dropdown-item">
                      <ng-container>Delete</ng-container>

                  </button>
                </div>
                </span>
              </div>

            </ng-container>
          </ng-container>

          <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
            <app-default-loader></app-default-loader>
          </div>


        </ul>
      </div>


      <div class="text-right">
        <button (click)="addSelectedCategoryType = 1" data-toggle="modal" data-target="#addCategoryModal"
          class="btn btn-secondary-button">
          <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
            </svg>
          Expense Category</button>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addCategoryForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input formControlName="name" type="text" class="form-control" id="categoryName">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary-button" data-dismiss="modal">Close</button>
          <button (click)="addCategory()" [disabled]="addCategoryForm.invalid" type="button"
            class="btn btn-primary-button" data-dismiss="modal">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>


<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editCategoryForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input formControlName="name" type="text" class="form-control" id="categoryName">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary-button" data-dismiss="modal">Close</button>
          <button (click)="editCategory()" [disabled]="editCategoryForm.invalid || !editCategoryForm.touched" type="button"
            class="btn btn-primary-button" data-dismiss="modal">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>
