@import '../../../../../../styles/variables';

.illustration {
  display: flex;
  justify-content: center;
}

.account-types {
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      width: 100%;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
      padding: 1rem 1rem 1rem 1rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      padding-top: 1.6rem;
      cursor: pointer;
      font-size: 20px;
      background: white;

      &:hover {
        background-color:rgba($primary, 2);
        transition: background-color .50s;
        color: white;

        .account-icon {
          svg {
            fill: white !important;
            stroke: white !important;
            .cls-1 {
              fill: white !important;
            }
            .cls-2 {
              fill: white !important;
            }

          }

        }
      }

      .account-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        svg {
          width: 35px;
          height: 35px;
          fill: none;
          stroke: $primary;
        }

      }

    }
  }
}
